:root {
    --brand-color: #2196f3;
    --title-color: #212121;
    --text-color: #757575;
    --white-color: #ffffff;
    --contact-color: rgba(255, 255, 255, 0.6);
    --main-background: #ffffff;
    --secondary-background: #f5f4fa;
    --icon-color: #afb1b8;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}

body {
    color: var(--text-color);
    font-family: roboto, sans-serif;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */
.header {
    border-bottom: 1px solid #ececec;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo-accent {
    color: var(--brand-color);
}

.logo-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    color: var(--title-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.nav-list {
    display: flex;

    color: var(--title-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-item {
    position: relative;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: inherit;
    text-decoration: none;

    transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--brand-color);
}

.contacts-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    color: var(--text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-icon {
    margin-right: 10px;
    fill: currentColor;
}

.current-link {
    color: var(--brand-color);
}

.nav-link.current-link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;


    height: 4px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    background-color: var(--brand-color);
}

/* Hero */

.section.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img.png);

    background-size: cover;
    text-align: center;
}

.hero-title {
    margin-bottom: 30px;
    color: var(--white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;

    color: var(--white-color);
    background-color: var(--brand-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: var(--brand-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
}

/*Our features */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--main-background);
}

.features-list {
    display: flex;
}

.features-item {
    width: 270px;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background: var(--secondary-background);
    border-radius: 4px;
}

.features-title {
    margin-bottom: 10px;
    color: var(--title-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*Activity*/

.section.activity {
    padding-top: 0px;
}

.section-title {
    margin-bottom: 50px;
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.activity-list {
    display: flex;
}

.activity-item {
    position: relative;

    width: calc((100% - 60px) / 3);
}

.activity-item:not(:last-child) {
    margin-right: 30px;
}

.activity-thumb {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.thumb-text {
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
}

/* Team */
.team {
    background-color: var(--secondary-background);
}

.team-list {
    display: flex;
}

.team-item {
    width: calc((100%-90) / 4);
    margin-right: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
    margin-right: 0px;
}

.teammate-wrap {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--white-color);
}

.teammate-name {
    color: var(--title-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.teammate-post {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 16px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    color: var(--icon-color);

    border-radius: 50%;

    transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.social-icon {
    fill: currentColor;
}

.social-link:hover,
.social-link:focus {
    color: var(--white-color);
    background-color: var(--brand-color);
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;

    color: var(--icon-color);

    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
}

.clients-icon {
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--brand-color);
    color: var(--brand-color);
}

/* Footer */
.footer-section {
    background-color: #2f303a;
    padding: 60px 0px;
}

.container.footer {
    display: flex;
    align-items: baseline;
}

.address-wrapper {
    margin-right: 70px;
}

.footer-logo {
    color: #ffffff;

    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.address {
    margin-top: 20px;

    color: #ffffff;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contacts {
    display: block;
    margin-top: 9px;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--brand-color);
}

.slogan-wrap {
    margin-right: 93px;
}

.footer-slogan {
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.social-list.footer {
    display: flex;
    margin-top: 20px;
}

.social-link.footer {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-link.footer:hover,
.social-link.footer:focus {
    background-color: var(--brand-color);
}

.footer-form-wrapper {
    display: flex;
    align-items: center;

    margin-top: 20px;
}

.footer-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    color: var(--white-color);
    background-color: #2F303A;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border-color var(--transition-timing-function) var(--transition-duration), outline-color var(--transition-timing-function) var(--transition-duration);
}

.footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-button {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.footer-button-title {
    margin-left: 29px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* Portfolio.html */
/*Projects */
.projects-button {
    color: var(--title-color);
    background-color: #f5f4fa;
    border: none;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.filter-list {
    display: flex;
    justify-content: center;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.projects-button {
    padding: 6px 22px;
    transition: box-shadow var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}

.projects-button:hover,
.projects-button:focus {
    color: var(--white-color);
    background-color: var(--brand-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    cursor: pointer;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.projects-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.projects-item:hover,
.projects-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

    cursor: pointer;
}

.projects-item:hover .image-text,
.projects-item:focus .image-text {
    transform: translate(0, -100%);

}

.projects-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.projects-item:nth-child(3n) {
    margin-right: 0px;
}

.projects-image-wrap {
    position: relative;
    overflow: hidden;
}

.image-text {
    position: absolute;
    width: 100%;
    height: 100%;

    padding: 63px 24px;

    color: var(--white-color);
    background: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.projects-wrap {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.project-name {
    color: var(--title-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-type {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/*----------------------------------------------------------- Модальное ОКНО---------------------------------------------------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 1;

    transition: opacity var(--transition-duration) var(--transition-timing-function);

    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);

    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    background-color: var(--white-color);

    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.close-button:hover,
.close-button:focus {
    fill: var(--brand-color);
}

.form-title {
    margin-bottom: 12px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.form-field {
    position: relative;

    display: flex;
    flex-direction: column;
}

.form-field:not(:first-child) {
    margin-top: 10px;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-input {
    margin-top: 4px;
    padding-left: 42px;
    width: 448px;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition-timing-function) var(--transition-duration), outline-color var(--transition-timing-function) var(--transition-duration);
}

.form-input:focus-within,
.form-comment:focus-within {
    outline-color: var(--brand-color);
    border-color: var(--brand-color);
}

.input-icon {
    position: absolute;
    top: 55%;
    left: 15px;

    fill: var(--title-color);

    transition: fill var(--transition-timing-function) var(--transition-duration);
}

.form-input:focus-within+.input-icon {
    fill: var(--brand-color);
}

.form-comment {
    margin-top: 4px;
    padding: 12px 16px;
    width: 448px;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;

    transition: border-color var(--transition-timing-function) var(--transition-duration), outline-color var(--transition-timing-function) var(--transition-duration);
}

.form-comment::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
}

.checkbox-text {
    display: block;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.checkbox-link {
    color: var(--brand-color);
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-label {
    display: flex;
    align-items: center;
    text-align: center;
}

.checkbox-icon {
    margin-right: 8px;
    border-radius: 2px;
    border: 2px solid var(--title-color);
}

.checkbox:checked+.checkbox-label>.checkbox-icon {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    background-origin: border-box;
}